.array-container {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;

  border-width: 6px;
  border-style: solid;
  border-color: #1a1b1e;
  border-radius: 15px;

  background-color: #1a1b1e;
}
.bar {
  background-color: #72ffff;
  display: inline-block;
  justify-content: center;
  margin: 0 0.7px;
}
